/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
       url('/fonts/ibm-plex-sans-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/ibm-plex-sans-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
       url('/fonts/ibm-plex-sans-v6-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/ibm-plex-sans-v6-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
       url('/fonts/ibm-plex-mono-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/ibm-plex-mono-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "IBM Plex Sans", system-ui, BlinkMacSystemFont, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.3rem;
  margin: 0;
}
pre { margin-left: 0; max-width: 90vw; overflow: hidden; overflow-x: scroll; }
code { font-family: "IBM Plex Mono", menlo, consolas, monaco, monospace; font-size: 0.8em; line-height: 1.25rem;  }

pre code {
  padding: 1em 0; 

}
.hljs {
  background-color: #edf2f7 !important;
  padding: 16px 16px !important;
}

article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

a {
  color: #0079c1;
}

header {
  background: #b3e3ff;
  margin-top: 0;
  margin-bottom: 16px;
}

/* header {   background: url(https://image.shutterstock.com/z/stock-photo-blue-room-in-the-d-background-1043622814.jpg); }
header * { color: white; } */

header h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

header h1 + h2 {
  margin-top: 24px;
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 1.4em;
}

header .sub {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 24px;
  opacity: 0.7;
  font-weight: 600;
  margin-top: 22px;
}

header .byline {
  font-size: 1rem;
}

blockquote {
  margin: 2rem 0;
  padding-left: 11px;
  margin-left: -14px;
  color: #666;
  border-left: 3px solid #999;
}

p > mark {
  background-color: rgba(179,227,255,0.4); font-style: italic;
 }

.content, header > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.content h2 {
  font-weight: 400;
  font-size: 1.8rem;
  display: inline-block;
  border-bottom: 8px solid #eee;
}

hr.article_end {
  border: 1px solid #E2E8F0;
  margin: 40px 0;
}

.author_meta {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-column-gap: 30px;
  align-items: center;
  margin-right: 20px;
}

.author_meta img {
  border-radius: 50%;
  height: 120px;
  box-shadow: inset 1px 0px 5px rgba(0,0,0,1);
  border:2px solid #eee;
}

.author_meta h4 {
  text-transform: uppercase;
  color: #A0AEC0;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin: 0;
}

.twitter {
  width: 24px;
  height: 24px;
}

.twitter > path {
  fill: #A0AEC0;
}

.twitter:hover > path {
  fill: #63B3ED;
}

.author_meta h2 {
  margin: 5px 0;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: none;
}

.author_meta p {
  margin: 7px 0;
  font-size: 0.9rem;
  line-height: 1.35rem;
}

hr.promo_line {
  border: 2px solid #b3e3ff;
  margin: 40px 0;
}

.promo {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-column-gap: 30px;
  align-items: center;
  margin-bottom: 50px;
}

.promo img {
  width: 100%;
}

.promo h2 {
  font-weight: bold;
  border-bottom: none;
  line-height: 0.5rem;
}

#bgbar {
  width: 100%;
  height: 64px;
  background-size: cover;
}

#logo {
  position: fixed;
  filter: grayscale(100%) brightness(145%);
  top: 8px;
  left: 8px;
  background-color: #0079c1;
  color: white;
  text-align: center;
  padding: 6px 16px;
  font-style: italic;
  box-shadow: 6px 6px 0px rgba(0, 121, 193, 0.4);
  transition: 0.2s filter ease-in;
}

#logo:hover {
  filter: none;
}

#logo a {
  color: white;
  text-decoration: none;
}

#logo img {
  vertical-align: -4px;
}

header figure img {
  max-width: 100px;
}

/* @media only screen and (max-device-width: 480px) {
} */
